<h2 class="location-title"><%= @location.name %></h2>
<div class="locationquests">
  <% @quests.each do |quest| %>
    <div class="locations-show-button-wrapper">
      <a href="/quests/<%=quest.id%>"><h2 class="location-name"><%= quest.name %></h2></a>
    </div>
  <% end %>
</div>
